<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image:url('https://insight.openexo.com/content/images/size/w692/2023/06/kentlangley_imagine_a_modern_vibrant_classroom_setting._At_the__32d6c009-8b6e-41fc-ab15-0417b4c8efd6.png');
            background-repeat: no-repeat;
            background-size:cover;

            text-align: center;
            margin: 30px;
            margin-top:70px;
            height: 50%;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255);
    box-shadow: 0 0 40px rgba(8,7,16);
    padding: 50px 35px;

            
        }

        form {
            max-width: 350px;
            margin: auto;
            background-color:  rgba(255,255,255,0.13);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
               background-color:  rgba(255,255,255,0.13);
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        label{
            background-color: white;
        }
        input:hover{
            background-color:orange;
        }
      
        
        
    </style>
</head>

<body>

    <form  method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" >
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
    
        <button type="submit">Login</button></a>
    </form>
    
    

   
</body>

</html>
